<?xml version="1.0"?>
<configuration>
  <!-- Modify the value as the group names from active directory -->
  <!--<add key="DEVELOPER" value="ENG Apollo CAD Engineers"/>-->
  <configSections>
    <section name="AccessPrivilegeGroups" type="CustomSections.InlineXmlSection, CustomSections"/>
  </configSections>
  <AccessPrivilegeGroups>
    <AccessPrivilegeGroup key="SYSTEM_ADMIN" value="world.gs.raiden.admins"/>
    <AccessPrivilegeGroup key="DEVELOPER" value="world.gs.avert.engineering.admins"/>
    <AccessPrivilegeGroup key="USER" value="User"/>
    <AccessPrivilegeGroup key="ALL" value="All"/>
    <AccessPrivilegeGroup key="GUEST" value="Guest"/>
  </AccessPrivilegeGroups>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="WCFAuthenticationService.AuthenticationBehavior" name="WCFAuthenticationService.Authentication">
        <endpoint binding="basicHttpBinding" bindingConfiguration="" contract="WCFAuthenticationService.IAuthentication"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WCFAuthenticationService.AuthenticationBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>