<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <appSettings>
    <add key="AutomationPath" value="C:\mcu-release-automation\ReleaseAutomation"/>
    <add key="ConfigJsonPath" value="C:\mcu-release-automation\ReleaseAutomation\Json\MicrocodeRelease.json"/>
    <!--<add key="Testing" value="true"/>-->
  </appSettings>
</configuration>
