<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Modify the value as the group names from active directory -->
  <!--<add key="DEVELOPER" value="ENG Apollo CAD Engineers"/>-->
  <configSections>
    <section name="AccessPrivilegeGroups" type="CustomSections.InlineXmlSection, CustomSections"/>
  </configSections>
  <AccessPrivilegeGroups>
    <AccessPrivilegeGroup key="SYSTEM_ADMIN" value="world.gs.raiden.admins"/>
    <AccessPrivilegeGroup key="DEVELOPER" value="world.gs.avert.engineering.admins"/>
    <AccessPrivilegeGroup key="USER" value="User"/>
    <AccessPrivilegeGroup key="ALL" value="All"/>
    <AccessPrivilegeGroup key="GUEST" value="Guest"/>
  </AccessPrivilegeGroups>
  <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAuthentication"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:32100/AuthenticationService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuthentication" contract="WcfAuthenticationService.IAuthentication" name="BasicHttpBinding_IAuthentication"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
