@*<footer style="width:100%">
    <div class="navbar navbar-fixed-bottom " style="z-index:-1;">
        <table style="width:100%">
            <tr>
                <td>
                    <div>
                        <span id="rights">Copyright © @DateTime.Now.Year  Intel. All rights reserved.</span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</footer>*@
<footer class="center-container page-footer">
    <div class="footer-copyright">
        <div />
        <div class="container-fluid" />
        <span style="color:silver;font-size:smaller;opacity:0.9;">
            Copyright: © @DateTime.Now.Year Intel Data Center Group. All rights reserved.<a href="https://employeecontent.intel.com/content/news/home/circuithome.html"> Employee portal </a>
        </span>
    </div>
    <div />
</footer>