<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=2.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <assembly name="Libraries" />
    <namespace name="McAfeeLabs.Engineering.Automation.Base" />
    <assembly name="log4net" />
    <namespace name="log4net" />
    <assembly name="Ionic.Zip" />
    <namespace name="Ionic.Zip" />
    <assembly name="Delimon.Win32.IO" />
    <namespace name="Delimon.Win32.IO" />
    <assembly name="Xceed.Zip.v5.1" />
    <namespace name="Xceed.Zip" />
    <assembly name="SevenSharpWrapper" />
    <assembly name="Monads" />
    <assembly name="ZipWalker" />
    <namespace name="McAfeeLabs.Engineering.Automation.Base" />
    <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Microsoft.Practices.Unity.Interception.Configuration" />
    <container>
      <extension type="Interception" />
      <!--<register type="IZipProvider" mapTo="SevenZipSharpWrapper">-->
      <register type="IZipProvider" mapTo="XcessdZipProvider">
        <lifetime type="transient" />
        <interceptor type="TransparentProxyInterceptor" />
        <interceptionBehavior type="PolicyInjectionBehavior" />
      </register>
    </container>
  </unity>
</configuration>