@{
    <div class="alert alert-dismissible alert-warning">
        <img src="~/Images/Magazine-40.png" width="48" height="48" />
        <span style="font-size:small; color:red; font-weight: bolder; font-family: Arial;">&nbsp;Search failed, can't find data from databse for this query.</span>
    </div>
}
