<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="ns2:SubmisssionParameterRoot" type="CustomSections.InlineXmlSection, CustomSections"/>
	</configSections>
	<appSettings>
		<add key="Color" value="Red"/><!-- Monitored-->
	</appSettings>
	<ns2:SubmisssionParameterRoot xmlns:ns2="http://SampleSubmissionService.SubmissionParameter">
		<Recursive>true</Recursive>
		<MaxAutoRequeueAge>5</MaxAutoRequeueAge>
		<MaxAutoRequeueRetryDelay>15</MaxAutoRequeueRetryDelay>
		<MaxAutoRequeueRetries>2</MaxAutoRequeueRetries>
		<ZipPassword>infected</ZipPassword>
		<MaxPackageSizeInBytes>300000000</MaxPackageSizeInBytes>
		<MaxNoOfFilesInPackage>30</MaxNoOfFilesInPackage>
		<MaxFileSize>300000000</MaxFileSize><!-- Monitored-->
		<MaxPathLength>260</MaxPathLength>
		<MaxPathWithoutFileLength>247</MaxPathWithoutFileLength>
		<GenerateReport>true</GenerateReport>
		<SubmissionGroup>submissionclient@avertlabs.com</SubmissionGroup><!-- Monitored-->
		<RequestedPriority>>generalsubmission</RequestedPriority>
		<DBFilePath>..\..\rcstdb.s3db</DBFilePath>
		<ReportPath>.\</ReportPath>
		<SubmissionProperties>
			<string>REQUESTEDPRIORITYTYPE:Outbreak</string>
			<string>RECOMMENDEDSEVERITYTYPE:SEVERITY3</string>
			<string>CONTACTADDRESS:Ying_Li@mcafee.com</string>
			<string>SUBMISSIONTYPE:SingleFile</string>
			<string>FORCEREPLICATE:True</string>
			<string>FORCEVIL:True</string>
			<string>EMAILREPORT:True</string>
			<string>REJECTUNAPPROVEDDRIVERS:true</string>
			<string>HUMANREVIEWREQUIRED:false</string>
			<string>REPLICATESAMPLE:false</string>
			<string>USERSPECIFIEDGENERATOR:false</string>
			<string>USERSPECIFIEDCLASSIFICATION:false</string>
			<string>Datasource:Dropbox</string>
		</SubmissionProperties>
		<SampleProperties>
			<string>OptionName1:OptionValue1</string>
			<string>OptionName2:OptionValue2</string>
		</SampleProperties>
	</ns2:SubmisssionParameterRoot>
</configuration>