<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=2.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <connectionStrings>	
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
	<appSettings>
		<add key="pageSize" value="2"/>
		<add key="FTPClientIntegrationTestUri"  value="ftp://ftpuser:mcafee!624@beaylidt2/BenchMarkTest"/>
	</appSettings>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <assembly name="Libraries" />
    <namespace name="McAfeeLabs.Engineering.Automation.Base" />
    <assembly name="log4net" />
    <namespace name="log4net" />
    <assembly name="Ionic.Zip" />
    <namespace name="Ionic.Zip" />
    <assembly name="Delimon.Win32.IO" />
    <namespace name="Delimon.Win32.IO" />
    <assembly name="Xceed.Zip.v5.1" />
    <namespace name="Xceed.Zip" />
    <assembly name="SevenSharpWrapper" />
    <assembly name="Monads" />
    <assembly name="ZipWalker" />
    <namespace name="McAfeeLabs.Engineering.Automation.Base" />

    <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Microsoft.Practices.Unity.Interception.Configuration" />
    <container>
      <extension type="Interception" />
      <register type="IZipProvider" mapTo="SevenZipSharpWrapper">
        <lifetime type="singleton" />
        <interceptor type="TransparentProxyInterceptor" />
        <interceptionBehavior type="PolicyInjectionBehavior" />
      </register>
    </container>
  </unity>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="SampleManagementServiceSoap" closeTimeout="00:01:00"
				  openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
				  allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
				  maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
				  messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
				  useDefaultWebProxy="true">
					<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647"
					  maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None"
						  realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://BEAAv1AppSMS2/SampleManagementService/SampleManagementService.asmx"
			 binding="basicHttpBinding" bindingConfiguration="SampleManagementServiceSoap"
			 contract="McAfeeLabs.Engineering.Automation.Base.SampleManagementServiceClient.SampleManagementServiceSoap" name="SampleManagementServiceSoap_1" />
			<!--<endpoint address="http://BEAAv1AppSMS2/SampleManagementService/SampleManagementService.asmx"
		   binding="basicHttpBinding" bindingConfiguration="SampleManagementServiceSoap"
		   contract="McAfeeLabs.Engineering.Automation.Base.SampleManagementServiceClient.SampleManagementServiceSoap" name="SampleManagementServiceSoap_2" />
		  <endpoint address="http://BEAAv1AppSMS3/SampleManagementService/SampleManagementService.asmx"
		   binding="basicHttpBinding" bindingConfiguration="SampleManagementServiceSoap"
		   contract="McAfeeLabs.Engineering.Automation.Base.SampleManagementServiceClient.SampleManagementServiceSoap" name="SampleManagementServiceSoap_3" />
		  <endpoint address="http://BEAAv1AppSMS4/SampleManagementService/SampleManagementService.asmx"
		   binding="basicHttpBinding" bindingConfiguration="SampleManagementServiceSoap"
		   contract="McAfeeLabs.Engineering.Automation.Base.SampleManagementServiceClient.SampleManagementServiceSoap" name="SampleManagementServiceSoap_4" />
		  <endpoint address="http://BEAAv1AppSMS5/SampleManagementService/SampleManagementService.asmx"
		   binding="basicHttpBinding" bindingConfiguration="SampleManagementServiceSoap"
			contract="McAfeeLabs.Engineering.Automation.Base.SampleManagementServiceClient.SampleManagementServiceSoap" name="SampleManagementServiceSoap_5" />-->
		</client>
	</system.serviceModel>
</configuration>