@using System;
@using System.Web;

<table style="background-color: ThreeDDarkShadow; color: white; border-radius:5px; ">
    <tr><td align="right"><span id="spXMLAnalyser" class="glyphicon glyphicon-check" style="color:white;font-size:8pt;">&nbsp;&nbsp;XML Anyliser&nbsp;&nbsp;</span></td></tr>
    <tr><td align="right" style="height:5px;"></td></tr>
    @*<tr><td align="right"><img id="imgBinaryData" src="~/Images/BinaryData.png" width="24" height="24" /><span id="spEventDataDecode" style="color:white;font-size:8pt;">&nbsp;&nbsp;Event Data Decoding&nbsp;&nbsp;</span></td></tr>
    <tr><td align="right" style="height:5px;"></td></tr>*@
</table>


<script type="text/javascript">
    //$('#spXMLAnalyser').on('click', function () {
    //    window.open("http://10.5.250.85/",
    //        '_blank',
    //        'left=100,top=100,width=1200,height=800,toolbar=1,resizable=1');
    //});
    //$('#imgBinaryData').on('click', function () {
    //    _decodeEventData();
    //});
    //$('#spEventDataDecode').on('click', function () {
    //    _decodeEventData();
    //});
    //function _decodeEventData() {
    //    window.location.href = "/Home/Contact";
    //};
</script>

