@using IntelDCGSpsWebService.Models;
@using System.Text;
@using IntelDCGSpsWebService.Models;

@model RasAutomationModel

@{
    ViewBag.Title = "RasAutomation";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <h3 align="left" style="color:dodgerblue;">RAS Automation</h3><hr />
}


