<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
	<appSettings>
		<add key="MaxDownloadableFileInMb" value="200"/>
		<add key="ResultsZipFileCount" value="10"/>
		<!-- Could be 5000 per Vitaly, this setting determs number of sub folders will be packaged up-->
		<add key="fileCount" value="100"/>
		<add key="DownloadFromDbBatchCount" value="100"/>
		<add key="UnprocessedFolder" value="RemainingWork"/>
		<add key="SMTPserverName" value="Mail.na.nai.com"/>
		<add key="To" value="Vitaly_Zaytsev@McAfee.com;Ying_Li@McAfee.com"/>
		<add key="FileServiceUri" value="http://beaav1appsms7:8091/mcafeelabs/raiden/rfs/files/md5"/>
		<add key="HealthyCheckInterval" value="15"/>
		<!--15 min-->
		<add key="MinAvailableMBytesMemory" value="600"/>
	</appSettings>
	<OperationControls>
		<Operation name="DownloadFromSampleDb" value="true"/>
		<Operation name="DownloadFromReplication" value="true"/>
		<Operation name="UploadToReplication" value="true"/>
		<Operation name="UploadToProcessing" value="true"/>
	</OperationControls>
</configuration>